/* Importação de fontes */

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;500&family=Rye&family=Saira+Stencil+One&display=swap');
:root {
    --font: Oswald;
    --font-banner: Saira Stencil One;
    --font-classicos: Rye;
    --ciano: #1BC9AE;
    --azul: #7FADF2;
    --preto: #2B2929;
    --cinza: #E5E5E5;
    --cinza-escuro: #A5A3A3;
    --branco: #ffffff;
}

body {
    font-family: var(--font);
    color: var(--preto);
}

a {
    text-decoration: none;
}

h1,
h2,
h3 {
    text-transform: uppercase;
}

ul li {
    list-style-type: none;
    display: flex;
    flex-direction: column;
}


/* ------------- Header ------------- */

.menu {
    padding-top: 20px;
    padding-bottom: 10px;
}

.menu .row {
    align-items: center;
}

.menu button {
    margin-left: 10px;
    font-weight: 300;
    letter-spacing: 1.3px;
}


/* Ícones */

@keyframes mexer {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(60deg);
    }
    50% {
        transform: rotate(-60deg);
    }
    75% {
        transform: rotate(60deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.menu .icones img:hover {
    animation: mexer .6s;
    cursor: pointer;
}

.menu span {
    justify-content: center;
}

#iconeSalvo,
#iconeCesta {
    display: flex;
    justify-content: space-around;
}

#salvos {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: var(--ciano);
    text-align: center;
    align-items: center;
    justify-content: center;
    color: var(--branco);
    text-shadow: 1px 1px var(--preto);
}

#cesta {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #88bb1b;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: var(--branco);
    text-shadow: 1px 1px var(--preto);
}

#login {
    text-align: left;
    padding-top: 10px;
    font-weight: 300;
    font-style: italic;
    font-size: .9rem;
}


/* ------------- Mobile (Menu) -------------*/

@keyframes mostrar {
    0% {
        transform: translateX(-70px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

#menu-mobile {
    display: none;
}

#menu-hamburguer {
    display: none;
    position: absolute;
}

.mostrar {
    animation: mostrar 1s;
    display: block !important;
}

.login-mobile-wrapper {
    margin: 20px 0 15px 0;
    text-align: center;
}

.botao-gamer {
    display: none;
}

@media (max-width: 640px) {
    h1,
    h2,
    h3,
    h4,
    p,
    .titulo img,
    .col-md-3 {
        transform: scale(.9);
    }
    .btn-warning {
        width: 50% !important;
    }
    /* Barra de pesquisa e logo */
    #menu-mobile {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    #Banner {
        display: none;
    }
    .submenu {
        display: none;
    }
    #cabecalho .icones {
        display: none;
    }
    #LogoLoja {
        text-align: center;
    }
    #cabecalho form {
        justify-content: center;
        align-items: center;
        padding-top: 10px;
    }
    #cabecalho form div {
        margin-bottom: 12px;
        height: 100%;
    }
     ::-webkit-input-placeholder {
        font-size: .8rem;
    }
    /* Menu hamburguer */
    #menu-hamburguer {
        margin-top: 35%;
        z-index: 999;
        width: 80%;
        height: 32vh;
        padding-top: 15px;
        border-radius: 15px;
        background: #4ECDC4;
        /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #556270, #4ECDC4);
        /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #556270, #4ECDC4);
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }
    #menu-hamburguer a {
        color: var(--branco);
        padding-bottom: 5px;
    }
    .fa-times {
        position: absolute;
        color: var(--branco);
        top: 0;
        right: 0;
        padding: 15px;
        font-size: 22px;
        text-shadow: 1px 1px 1px var(--preto);
    }
    .estrelas {
        padding-left: 4%;
    }
    /* Ícones do menu mobile */
    .icones-mobile {
        transform: scale(.9);
        width: 70%;
    }
    #login-mobile {
        width: 100%;
        position: absolute;
    }
    #menu-mobile .navbar {
        width: 30%;
    }
    /* Sobre nós */
    #sobre img {
        display: none;
    }
    #sobre p {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
    }
    /* Botões */
    .btn-primary,
    #destaques .btn-success,
    .btn-danger {
        height: 55px;
        font-size: 1.2rem;
    }
    /* Banners de categoria */
    .banner-categoria {
        border-radius: 0 !important;
        border: none !important;
        margin: 2px !important;
        height: 140px !important;
        justify-content: center !important;
        padding-right: 12% !important;
        padding-top: 2% !important;
    }
    .banner-categoria .botao-gamer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        right: 0;
        margin-right: 5%;
    }
    .banner-categoria .botao-gamer img {
        width: 60px;
        height: auto;
    }
    .banner-categoria .botao-gamer span {
        font-weight: 300 !important;
        font-style: italic;
        font-size: .9rem;
        color: var(--branco);
        opacity: .6;
    }
    .banner-categoria .botao-gamer img {
        padding: 0 !important;
    }
    /* Botao de subir */
    .botao-subir {
        transform: translateY(43vh) !important;
    }
    /* Rodapé */
    #rodape .col-md-2 {
        text-align: center;
    }
    #rodape .col-md-6 {
        text-align: justify;
    }
    #rodape h4 {
        text-align: center;
    }
    .icones-sociais {
        text-align: center;
    }
}


/* Ícone para subir a tela */

.botao-subir {
    width: 50px;
    height: 50px;
    right: 0;
    margin-right: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(53vh);
    border-radius: 50%;
    position: fixed;
    float: right;
    z-index: 999;
    background: var(--ciano);
    color: var(--branco);
    box-shadow: 2px 2px 2px var(--preto);
}

.botao-subir:hover {
    color: var(--branco);
    background-color: var(--preto);
    transition: .5s;
}

.botao-subir i {
    font-size: 1.5rem;
    text-shadow: 2px 2px var(--preto);
}


/* Submenu com os links */

.submenu ul {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.submenu a {
    padding: 0 5px 0 5px;
    text-transform: uppercase;
    font-size: .9rem;
    font-weight: 500;
    color: #282828;
}

.submenu a:hover {
    color: var(--ciano);
    transition: .45s;
}

.submenu .barra {
    width: 100%;
    height: 4px;
    background-color: var(--ciano);
}


/* Carousel */

#carousel-games {
    box-shadow: 3px 3px 3px var(--preto);
}

#carousel-games img {
    width: 100%;
    height: 320px;
}

#carousel-games p,
h5 {
    text-shadow: 1px 1px 1px var(--preto);
}


/* Ícones abaixo do Banner */

#img-banner {
    box-shadow: 2px 2px 2px var(--preto);
}

.banner .icone-wrapper {
    margin: 20px 0 20px 0;
    display: flex;
    justify-content: space-between;
}

.banner .icone-wrapper .icon {
    display: flex;
    align-items: center;
}

.banner .icone-wrapper img {
    justify-content: center;
}

.banner .icone-wrapper p {
    width: 60%;
    overflow: hidden;
    text-transform: uppercase;
    font-size: .9rem;
    text-align: left;
    text-align: center;
}


/* Breadcrumb */

#breadcrumb-wrapper {
    margin: 0 0 20px;
    background-color: var(--cinza);
    box-shadow: 1px 1px 1px var(--cinza-escuro);
}

.breadcrumb {
    padding: 12px
}

.breadcrumb li {
    text-transform: uppercase;
    font-size: .9rem;
}

.breadcrumb li a {
    color: var(--preto);
}

.breadcrumb li a:hover {
    color: var(--ciano);
    transition: .45s;
}


/* ------------------- Sobre nós ------------------- */

#sobre h2 {
    color: var(--azul);
    text-shadow: .5px .5px var(--preto);
}

.sobre-img {
    border-radius: 50%;
    box-shadow: 4px 4px 4px var(--preto);
}

#sobre p {
    opacity: .9;
    text-align: justify;
}

#sobre .social-wrapper {
    justify-content: end;
}

#sobre .IconSocialSobre {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#sobre .IconSocialSobre img {
    margin-left: 10px;
    border-radius: 0;
    box-shadow: 0;
}


/* ------------------- Categorias ------------------- */


/* Títulos */

.titulo-wrapper {
    margin: 20px 0 20px;
}

.titulo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.titulo img {
    margin-left: 15px;
    margin-right: 15px;
}

.titulo h3 {
    margin-right: 15px;
}

.titulo .barra-titulo {
    height: 3px;
    width: 100px;
    background-color: var(--cinza-escuro);
}


/* Banners das categorias */

#categoria a {
    margin: 0;
    padding: 0;
}

.banner-categoria {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 160px;
    border: solid 2px var(--branco);
}

.banner-categoria h3 {
    font-family: var(--font-banner);
    color: #ffffff;
    text-shadow: 1px 1px var(--preto);
}

.banner-categoria:hover {
    transform: scale(1.02);
    transition: .5s;
}

.icone-banner {
    border-radius: 50%;
    background: var(--branco);
    box-shadow: 2px 2px 2px var(--preto);
    margin-bottom: 10px;
}

#classicos {
    background-color: #FE5335;
    border-top-left-radius: 10px;
}

#classicos h3 {
    font-family: var(--font-classicos);
}

#ps4 {
    background-image: url("../midia/banners/banner_ps4.jpg");
    background-size: cover;
    background-position: center;
    border-top-right-radius: 10px;
}

#pc {
    background-color: #97CA2D;
    flex-direction: column;
}

#portateis {
    background-color: #3599DB;
    flex-direction: column;
}

#vr {
    background-color: #F29B31;
    flex-direction: column;
}

#acessorios {
    background-color: #FE5335;
    border-bottom-right-radius: 10px;
    flex-direction: column;
}

#acessorios img {
    padding: 10px;
}

#xbox {
    background-image: url("../midia/banners/banner_xbox.png");
    background-size: cover;
    border-bottom-left-radius: 10px;
}


/* ------------------- Destaques ------------------- */

.fa-star,
.fa-star-half {
    color: #efce4a;
    text-shadow: 1px 1px 1px var(--preto);
}


/* Botões */

#destaques .botoes-produto {
    margin-bottom: 30px;
}

#destaques .btn-success {
    background: #97CA2D !important;
    border: none;
    width: 50%;
    font-weight: 300;
    margin-bottom: 10px;
}

#destaques .btn-success:hover {
    background: #88bb1b !important;
}

#destaques .btn-primary {
    background: #3599DB !important;
    border: none;
    width: 50%;
    font-weight: 300;
    margin: 0 0 10px 10px;
}

#destaques .btn-primary:hover {
    background: #1d88cf !important;
}

#destaques .btn-danger {
    background: #FE5335 !important;
    border: none;
    font-weight: 300;
}

#destaques .btn-danger:hover {
    background: #f54222 !important;
}

#destaques .btn-warning {
    background: #efce4a;
}

#destaques .btn-warning:hover {
    background: #eec215;
}

.btn-mais-destaques {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.btn-mais-destaques button {
    color: var(--preto);
    font-weight: 400;
}


/* Imagem dos produtos */

.img-produto {
    margin-bottom: 15px;
    border: solid 1px var(--cinza);
    border-radius: 10px;
    box-shadow: 2px 2px 2px var(--cinza-escuro);
    display: flex;
    justify-content: end;
    position: relative;
}

.img-produto img {
    border-radius: 10px;
    padding: 5px;
}

.img-produto i {
    transform: scale(1.1);
    padding: 5px 5px 5px 0;
    position: absolute;
}


/* ------------------- Rodapé ------------------- */

#rodape {
    background: #000000b2;
    padding: 20px 30px;
    color: var(--branco);
}

#rodape ul {
    padding-left: 0;
}

#rodape ul li,
#rodape p {
    font-weight: 300;
}

#rodape ul li a {
    color: var(--branco);
}

#rodape ul li a:hover {
    color: var(--ciano);
    transition: .6s;
}

#rodape .icones-sociais img {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.autor-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #000000d2;
    color: var(--branco);
    margin: 0;
}

.autor {
    margin: 10px 0 10px 0;
}

.autor span {
    font-weight: 300;
    font-style: italic;
}

.autor a {
    text-decoration: none;
    color: var(--branco);
}

.autor a i {
    padding-left: 5px;
}


/* ------------------- Páginas de listagem de produtos ------------------- */


/* Paginação */

.pagination a {
    color: var(--preto) !important;
}


/* Modal */

.modal-title {
    text-shadow: none;
}

.modal-footer #alerta {
    color: #FE5335;
    margin-right: auto;
}

#cesta-vazia i {
    color: red;
}


/* Modal de itens na cesta */

table,
th,
tr,
td {
    border: 1px solid var(--preto);
    border-collapse: collapse;
    text-align: center;
    font-weight: 400;
    font-size: .9rem;
}

#titulo-tabela {
    background-color: var(--preto);
    color: var(--branco);
}

#total {
    font-style: italic;
    font-weight: 400;
}

#total strong {
    font-size: 1.1rem;
}